.headerTwo {
  display: flex;
  justify-content: space-between;
  padding: 2rem 0;
  border-bottom: 0.5px solid #c2255c1b;
}
.headerTwo_left h2 {
  font-weight: 700;
}

.headerTwo_left p {
  font-weight: 300;
}
@media (max-width: 500px) {
  .headerTwo {
    padding: 1.5rem 0;
  }
}
